<div class="container">
  <!-- Search Form -->
  <div class="form-group mx-sm-3 mb-2 mt-2">
    <label for="addressH">Address</label>
    <div class="input-group">
      <input type="text" class="form-control" id="addressH" [(ngModel)]="addressH" name="addressH"
        placeholder="Enter address...">
      <div class="input-group-append">
        <button type="submit" (click)="SearchHouses()" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>

  <!-- Houses Table -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Rent Price</th>
            <th>Status</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let house of houses">
            <td>{{ house.idHouse }}</td>
            <td>{{ house.address }}</td>
            <td>{{ house.rentPrice | currency }}</td>
            <td>{{ house.status }}</td>
            <td>{{ house.owner.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>