<div class="container">
  <!-- Owners Dropdown -->
  <div class="form-group col-sm-4 mb-4">
    <label for="idOwner">Select Owner</label>
    <select class="form-control form-control-lg" id="idOwner" name="idOwner" [(ngModel)]="idOwner"
      (change)="onChange()">
      <option *ngFor="let owner of owners" [value]="owner.idOwner">
        {{ owner.name }}
      </option>
    </select>
  </div>

  <!-- Houses Table -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>House ID</th>
            <th>Address</th>
            <th>Rent Price</th>
            <th>Status</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let house of houses">
            <td>{{ house.idHouse }}</td>
            <td>{{ house.address }}</td>
            <td>{{ house.rentPrice | currency }}</td>
            <td>{{ house.status }}</td>
            <td>{{ house.owner.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>